<hello name="{{ name }}"></hello>

<p>
  <kbd>[1970]</kbd> {{ "1970-01-02T22:59:59Z" | date: "YYYY" }} => 1970 (OK)
</p>
<p>
  <kbd>[1971]</kbd> {{ "1971-01-02T22:59:59Z" | date: "YYYY" }} => 1970 (ERROR)
</p>
<p>
  <kbd>[1972]</kbd> {{ "1972-01-02T22:59:59Z" | date: "YYYY" }} => 1971 (ERROR)
</p>
<p>
  <kbd>[1973]</kbd> {{ "1973-01-02T22:59:59Z" | date: "YYYY" }} => 1973 (OK)
</p>
<p>
  <kbd>[1974]</kbd> {{ "1974-01-02T22:59:59Z" | date: "YYYY" }} => 1974 (OK)
</p>
<p>
  <kbd>[1975]</kbd> {{ "1975-01-02T22:59:59Z" | date: "YYYY" }} => 1975 (OK)
</p>
<p>
  <kbd>[1976]</kbd> {{ "1976-01-02T22:59:59Z" | date: "YYYY" }} => 1976 (OK)
</p>
<p>
  <kbd>[1977]</kbd> {{ "1977-01-02T22:59:59Z" | date: "YYYY" }} => 1976 (ERROR)
</p>
<p>
  <kbd>[1978]</kbd> {{ "1978-01-02T22:59:59Z" | date: "YYYY" }} => 1978 (OK)
</p>
<p>
  <kbd>[1979]</kbd> {{ "1979-01-02T22:59:59Z" | date: "YYYY" }} => 1979 (OK)
</p>
<p>
  <kbd>[1980]</kbd> {{ "1980-01-02T22:59:59Z" | date: "YYYY" }} => 1980 (OK)
</p>
<p>
  <kbd>[1981]</kbd> {{ "1981-01-02T22:59:59Z" | date: "YYYY" }} => 1981 (OK)
</p>
<p>
  <kbd>[1982]</kbd> {{ "1982-01-02T22:59:59Z" | date: "YYYY" }} => 1981 (ERROR)
</p>
<p>
  <kbd>[1983]</kbd> {{ "1983-01-02T22:59:59Z" | date: "YYYY" }} => 1982 (ERROR)
</p>
<p>
  <kbd>[1984]</kbd> {{ "1984-01-02T22:59:59Z" | date: "YYYY" }} => 1984 (OK)
</p>
<p>
  <kbd>[1985]</kbd> {{ "1985-01-02T22:59:59Z" | date: "YYYY" }} => 1985 (OK)
</p>
<p>
  <kbd>[1986]</kbd> {{ "1986-01-02T22:59:59Z" | date: "YYYY" }} => 1986 (OK)
</p>
<p>
  <kbd>[1987]</kbd> {{ "1987-01-02T22:59:59Z" | date: "YYYY" }} => 1987 (OK)
</p>
<p>
  <kbd>[1988]</kbd> {{ "1988-01-02T22:59:59Z" | date: "YYYY" }} => 1987 (ERROR)
</p>
<p>
  <kbd>[1989]</kbd> {{ "1989-01-02T22:59:59Z" | date: "YYYY" }} => 1989 (OK)
</p>
<p>
  <kbd>[1990]</kbd> {{ "1990-01-02T22:59:59Z" | date: "YYYY" }} => 1990 (OK)
</p>
<p>
  <kbd>[1991]</kbd> {{ "1991-01-02T22:59:59Z" | date: "YYYY" }} => 1991 (OK)
</p>
<p>
  <kbd>[1992]</kbd> {{ "1992-01-02T22:59:59Z" | date: "YYYY" }} => 1992 (OK)
</p>
<p>
  <kbd>[1993]</kbd> {{ "1993-01-02T22:59:59Z" | date: "YYYY" }} => 1992 (ERROR)
</p>
<p>
  <kbd>[1994]</kbd> {{ "1994-01-02T22:59:59Z" | date: "YYYY" }} => 1993 (ERROR)
</p>
<p>
  <kbd>[1995]</kbd> {{ "1995-01-02T22:59:59Z" | date: "YYYY" }} => 1995 (OK)
</p>
<p>
  <kbd>[1996]</kbd> {{ "1996-01-02T22:59:59Z" | date: "YYYY" }} => 1996 (OK)
</p>
<p>
  <kbd>[1997]</kbd> {{ "1997-01-02T22:59:59Z" | date: "YYYY" }} => 1997 (OK)
</p>
<p>
  <kbd>[1998]</kbd> {{ "1998-01-02T22:59:59Z" | date: "YYYY" }} => 1998 (OK)
</p>
<p>
  <kbd>[1999]</kbd> {{ "1999-01-02T22:59:59Z" | date: "YYYY" }} => 1998 (ERROR)
</p>
